.facedownCard,
.card {
	border: 1px solid #666;
	border-radius: 10%;
	height: 60px;
	width: 42px;
}

.card {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	cursor: pointer;
	background: white;

	.rank {
		font-size: 18px;
	}

	&.red {
		color: red;
	}

	&:hover {
		background: #ccffcc;
	}

	&.selected {
		height: 70px;
		width: 45px;
		background: #88ff88;
		border-width: 2px;
	}
}

.facedownCard {
	background: repeating-linear-gradient(45deg, #606dbc, #606dbc 10px, #465298 10px, #465298 20px);
	cursor: default;
}
