.card {
	border: 1px solid black;
	border-radius: 10%;
	height: 60px;
	width: 42px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	cursor: pointer;

	.suit {
		/*position: absolute;
    left: 4px;
    top: 4px;*/
	}

	.rank {
		font-size: 18px;
	}

	&.red {
		color: red;
	}

	&.facedown {
		background: repeating-linear-gradient(45deg, #606dbc, #606dbc 10px, #465298 10px, #465298 20px);
	}

	&:hover {
		background: #ccffcc;
	}

	&.selected {
		height: 70px;
		width: 45px;
		background: #88ff88;
		border-width: 2px;
	}
}
